
.btn{
    /* width: 300px; */
}

.container-sm{
    max-width: 800px;
}


@media(max-width:576px){
    .firstElementForm{
        flex: 0 0 auto;
        width: 100%;
    }

    .btn{
        width: 100%;
    }
}