:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
}

/* Normalize */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

/* Styling for FORM Section */

.formBackground {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(13, 110, 139, 0.2), rgba(13, 110, 139, 0.2)), url("../img/backgroundRegistration.jpg");
    padding-top: 5rem;
}


/* Ajax is the class of the form - used for Ajax JS */
.ajax {}


/* formContainer class styles the inputs */
.formContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    background-image: linear-gradient(rgba(13, 110, 139, 0.85), rgba(13, 110, 139, 0.1));
    box-shadow: 3px 3px 3px 2px rgba(24, 39, 51, 0.5);
}

.formContainer h2 {
    display: inline-block;
    width: 100%;
    color: #f4f4f4;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Class w100 set a 100% width */
.w100 {
    width: 100%;
}

/* Class w100 set a 45% width */
.w50 {
    width: 45%;
}


.formContainer .input {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    color: #3c3c3d;
    box-shadow: inset 1px 1px 5px rgba(13, 110, 139, 0.5);
}


.formContainer .input:focus {
    background-color: #dedede;
}


.formContainer .btn {
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem 0.2rem;
    background-color: rgba(24, 39, 51, 0.80);
    color: #d6d5d5;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.formContainer .btn:hover {
    cursor: pointer;
    text-align: center;
    background-color: rgba(24, 39, 51, 0.60);
    color: #f4f4f4;
    scale: 0.98;
}

.formContainer .btnSubmit {
    background-color: rgba(18, 139, 99, 0.6);
}


.backgroundCredits{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.8rem;
}

/* ***************************************************
                        FOOTER
*******************************************************/

.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #182733;
    color: #128db3;
    padding: 1rem;
}

.footerContainer .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
}

.footerContainer .icons a {
    text-decoration: none;
    font-size: 1.3rem;
    color: inherit;
}


/* **********************************************
                MEDIA QUERIES
********************************************** */

@media(max-width:778px) {

.formContainer {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}

}

@media(max-width:576px) {

    .formContainer {
        width: 90%;
        margin: 0 auto;
    }

    .formBackground {
        position: relative;
        width: 100%;
        padding-top: 2rem;
    }

}