:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}


.showcase {
    background-color: var(--primary-color);
    color: white;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}


.countdownContainer {
    /* border: 1px solid #f4f4f4; */
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.countdownContainerBody{
    display: flex;
}

.countdownBox
{
    /* border: 1px solid #f4f4f4; */
    margin: 0 0.5rem;
    padding: 0.2rem;
    text-align: center;
}


.countdownBox h1{
/* max-width: 4rem; */
background: none;
border: none;
text-align: center;
color: #f4f4f4;
}


div > span {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}


.showcase h1,
.showcase h2 {
    font-family: 'Noto Serif Khmer', serif;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase h2 {
    font-size: 3.5rem;
}

.showcase p {
    font-family: 'PT Serif', serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.75);
}

.showcase .btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 3rem;
    font-size: 1.5rem;

}

.showcase .btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    scale: 0.98;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}



/* ***************************************************
                        FOOTER
*******************************************************/

.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #182733;
    color: #128db3;
    padding: 1rem;
}

.footerContainer .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
}

.footerContainer .icons a {
    text-decoration: none;
    font-size: 1.3rem;
    color: inherit;
}



/* MEDIA QUERIES SM 576*/
@media(max-width: 576px) {
    .showcase h1 {
        font-size: 3rem;
    }

    .showcase h2 {
        font-size: 2.5rem;
    }

    .showcase p {
        font-size: 1.5rem;

    }

    .showcase .btn {
        font-size: 1rem;

    }

.countdownContainer{
    /* margin: 0 auto;
    width: 90%; */
}

}